.header {
}

.header-navigation {
}

.header-navigation-img1 {
}

.header-navigation-img2 {
}

.header-navigation-list {
  display: flex;
  align-self: flex-start;
  padding: 0px 0px;
}

.header-navigation-address {
}

.header-img {
}

.header-btn-booking {
}

.header-btn-forward {
}

.header-btn-back {
}

.header-soc-inst {
}

.header-soc-youtube {
}
.header-paragraph {
}
.header-heading1 {
}
.header-paragraph1 {
}
.header-paragraph2 {
}
