.container {
  width: 1600px;
  background-color: E5E5E5;
}

.header {
}

.header-navigation {
}

.header-navigation-img1 {
}

.header-navigation-img2 {
}

.header-menu {
}

#contacts {
  position: relative;
  align-items: stretch;
}

.header-navigation-address {
  position: relative;
  align-items: stretch;
}

.header-img {
  margin: 0 auto;
}

.header-btn-booking {
}

.header-btn-forward {
}

.header-btn-back {
}

.header-soc-inst {
}

.header-soc-youtube {
}
.header-paragraph {
}
.header-heading1 {
}
.header-paragraph1 {
}
.header-paragraph2 {
}
