* {
  box-sizing: border-box;
}

body {
  font-family: 'OpenSans', Sans-serif;
  width: 100%;
  height: 4918px;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header-container {
  background-color: rgba(17, 17, 17, 0.6);
}
.header-logo {
}
.header-slider1 {
}
.header-menu {
}
.header-menu-list {
}
.header-menu-about {
  text-align: left;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: relative;
  width: 40px;
  height: 14.45px;
}

.header-menu-about a {
  color: #ff6c00;
}

.header-menu-sp {
  text-align: left;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: relative;
  width: 132px;
  height: 14.45px;
}

.header-menu-sp a {
  color: #fff;
}

.header-menu-barbers {
  text-align: left;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: relative;
  width: 53px;
  height: 14.45px;
}

.header-menu-barbers a {
  color: #ffffff;
}

.header-menu-contacts {
  text-align: left;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: relative;
  width: 60px;
  height: 14.45px;
}

.header-menu-contacts a {
  color: #ffffff;
}
.header-telefon {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  width: 121px;
  height: 14.45px;
}
.header-telefon a {
  color: black;
}
.header-btn-booking {
  border-radius: 25px;
  border-style: solid;
  border-color: #ff6c00;
  border-width: 1px;
  width: 160px;
  height: 36.11px;
  position: relative;
}

.header-btn-booking a {
  color: #ffffff;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.09em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  width: 120px;
  height: 14.45px;
}
.header-text1 {
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
}
.header-h {
  color: #fff;
  font-family: Raleway;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.header-text2 {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}
.header-social {
}
.header-social-rectangle {
}
.header-social-instagram {
  font-family: 'OpenSans-SemiBold', sans-serif;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  transform: rotate(-90deg);
}

.header-social-instagram a {
  color: #ff6c00;
}
.header-social-yotube {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 11px;
  letter-spacing: 0.2em;
  font-weight: 600;
  line-height: 1.36;
  transform: rotate(-90deg);
}
.header-social-yotube a {
  color: #303030;
}
.header-slider-back {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.header-slider-back a {
  color: rgba(157, 164, 189, 0.6);
}
.header-slider-forward {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.header-slider-forward a {
  color: #fff;
}

.header-slider-navigation {
}
